.with-selection {
    position: relative;
    z-index: 1;
    @apply !text-black;
}

/* 
    Related to monaco-highlight-block-inline & monaco-highlight-block-root
*/
.with-selection::before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0px;
    bottom: 0px;
    overflow: visible;
    z-index: -1;
    @apply !bg-[#f9ff38] rounded-[2px];
}