@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter.ttf');
  font-weight: 1 999;
}

:root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--geist-selection);
  color: var(--geist-foreground);
  @apply text-g-primary-50 bg-g-highlight-50;
}

* {
  box-sizing: border-box;
}

.absolute-center {
  @apply absolute left-0 right-0 top-0 bottom-0;
}

.flex-center {
  @apply flex justify-center items-center;
}

.max-vh-mobile {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.titlebar {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @apply bg-g-primary-800;
}
